/***********************************************************************************/
/*                                  HTML Elements                                  */
/***********************************************************************************/
a{
	color: $a-link;
	text-decoration: none;
	outline:none;
}
a:hover{
	color: $a-hover;
}
p{
	padding: 0 0 20px;
}
strong {
	font-weight: bold;
}