//color
$placeholder-color : #ccc;
$a-link : #2094c4;
$a-hover : #3498db;


//loading-circle
$loading-width : 100px;
$loading-height : 100px;
$loading-border-width : 10px;

//colors
$bd-green: rgb(39,174,96);
$bd-blue:  rgb(41,128,185);
$bd-orange: rgb(211,84,0);
$bd-red: rgb(192,57,43);

//other
$body-fontfamily : 'helvetica neue',tahoma,'hiragino sans gb',stheiti,'wenquanyi micro hei',\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,sans-serif;